<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">
<link href="css/addons-pro/steppers.css" rel="stylesheet">
<link href="css/addons-pro/steppers.css" rel="stylesheet">
<link href="css/addons-pro/steppers.min.css" rel="stylesheet">

</head>
<body>
	<div class="row" id="content">
		 <div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
		 <div class="col-md-8 col-sm-8 col-xs-2 fla">
				<div class="accordion" id="accordionExample" style="margin-top: 3%; margin-bottom: 5%">				
				  <div class="card">
				    <div class="card-header" id="headingOne">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
				          1. Adauga locatia
				        </button>
				      </h5>
				    </div>
				    <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				      <div class="card-body" style="text-align: left; margin-left: 3%">
							<div class="row">
							    <div class="col">
							      <input type="text" class="form-control" placeholder="Numele varfului">
							    </div>
							    <div class="col">
							      <input type="number" min="1000" max="2544" class="form-control" placeholder="Altitudinea">
							    </div>
							 </div>
							 <div class="row" style="margin-top: 2%; margin-bottom: 2%">
							    <div class="col">
							      <input type="text" class="form-control" placeholder="Numele muntelui">
							    </div>
							    <div class="col">
							      <input type="text" class="form-control" placeholder="Judetul">
							    </div>
							 </div>
						</div>
				      </div>
				    </div>
				  
				  
				  <div class="card">
				    <div class="card-header" id="headingTwo">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          2. Adauga perioada
				        </button>
				      </h5>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				      <div class="card-body" style="text-align: left; margin-left: 3%">
							<div class="row">
							    <div class="col">
							      <label for="startDate"> Data inceput </label>
							      <input type="date" id="startDate" class="form-control">
							    </div>
							    <div class="col">
							      <label for="endDate"> Data incheiere </label>
							      <input type="date" id="endDate" class="form-control">
							    </div>
							 </div>
				      </div>
				    </div>
				  </div>
				  
				  <div class="card">
				    <div class="card-header" id="headingTree">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTree" aria-expanded="false" aria-controls="collapseTwo">
				          3. Adauga traseu
				        </button>
				      </h5>
				    </div>
				    <div id="collapseTree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				      <div class="card-body" style="text-align: left; margin-left: 3%">
							
				      </div>
				    </div>
				  </div>
				  
				  <div class="card">
				    <div class="card-header" id="headingFour">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
				          4. Adauga detalii
				        </button>
				      </h5>
				    </div>
				    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
				      <div class="card-body" style="text-align: left; margin-left: 3%">
							<div class="row">
							    <div class="col">
							      <input type="text" class="form-control" placeholder="Dificultate">
							    </div>
							    <div class="col">
							      <input type="number" min="5" max="50" class="form-control" placeholder="Capacitate">
							    </div>
							    <div class="col">
							      <input type="number" min="5" max="50" class="form-control" placeholder="Puncte">
							    </div>
							 </div>
				      </div>
				    </div>
				  </div>
				  
				</div>
				</div>
		 <div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
		 </div>
	</div>
</body>
</html>