<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body class="body">
	<form id="allTripsForm" name="allTripsForm" action="#" th:action="@{/all-trips}" th:object="${tripViewModel}"
		method="post">
		
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
			<div class="col-md-8 col-sm-8 col-xs-2 fla">
				<hr>
					<div>
						<h3 class="text-center">Toate ascensiunile</h3>
					</div>			 			
				<hr>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
		</div>
		
		<div class="row" id="content">
			<div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
			<div class="col-md-2 col-sm-2 col-xs-2 text-center fla">
				<div th:if="${filterWasApplied} == true" style="margin-top: 8%">
					<input id="resetAfterSubmit" class="btn btn-danger btn-block" type="reset" value="Elimina filtrele" onclick="whenButtonRemoved()">
				</div>
				<div id="resetFilters" style="margin-top: 10%">
				</div>
				<div class="accordion" id="accordionExample" style="margin-top: 8%">				
				  <div class="card">
				    <div class="card-header" id="headingOne">
				      <h5 class="mb-0">
				        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          Perioada
				        </button>
				      </h5>
				    </div>				
				    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
				      <div class="card-body" style="text-align: left; margin-left: 15%">
						    <div class="custom-control custom-checkbox">
							    <input type="checkbox" onclick="filter()" class="custom-control-input filter" id="luna1" name="month" th:value="JANUARY">
							    <label class="custom-control-label" for="luna1">Ianuarie</label>
							</div>
							<div class="custom-control custom-checkbox">
							    <input type="checkbox" onclick="filter()" class="custom-control-input filter" id="luna2" name="month" th:value="FEBRUARY">
							    <label class="custom-control-label" for="luna2">Februarie</label>
							</div>
							<div class="custom-control custom-checkbox">
							    <input type="checkbox" onclick="filter()" class="custom-control-input filter" id="luna3" name="month" th:value="MARCH">
							    <label class="custom-control-label" for="luna3">Martie</label>
							</div>
							<div class="custom-control custom-checkbox">
							    <input type="checkbox" onclick="filter()" class="custom-control-input filter" id="luna4" name="month" th:value="APRIL">
							    <label class="custom-control-label" for="luna4">Aprilie</label>
							</div>
							<div class="custom-control custom-checkbox">
							    <input type="checkbox" onclick="filter()" class="custom-control-input filter" id="luna5" name="month" th:value="MAY">
							    <label class="custom-control-label" for="luna5">Mai</label>
							</div>
							<div class="custom-control custom-checkbox">
							    <input type="checkbox" onclick="filter()" class="custom-control-input filter" id="luna6" name="month" th:value="JUNE">
							    <label class="custom-control-label" for="luna6">Iunie</label>
							</div>
							<div class="custom-control custom-checkbox">
							    <input type="checkbox" onclick="filter()" class="custom-control-input filter" id="luna7" name="month" th:value="JULY">
							    <label class="custom-control-label" for="luna7">Iulie</label>
							</div>
							<div class="custom-control custom-checkbox">
							    <input type="checkbox" onclick="filter()" class="custom-control-input filter" id="luna8" name="month" th:value="AUGUST">
							    <label class="custom-control-label" for="luna8">August</label>
							</div>
							<div class="custom-control custom-checkbox">
							    <input type="checkbox" onclick="filter()" class="custom-control-input filter" id="luna9" name="month" th:value="SEPTEMBER">
							    <label class="custom-control-label" for="luna9">Septembrie</label>
							</div>
							<div class="custom-control custom-checkbox">
							    <input type="checkbox" onclick="filter()" class="custom-control-input filter" id="luna10" name="month" th:value="OCTOBER">
							    <label class="custom-control-label" for="luna10">Octombrie</label>
							</div>
							<div class="custom-control custom-checkbox">
							    <input type="checkbox" onclick="filter()" class="custom-control-input filter" id="luna11" name="month" th:value="NOVEMBER">
							    <label class="custom-control-label" for="luna11">Noiembrie</label>
							</div>
							<div class="custom-control custom-checkbox">
							    <input type="checkbox" onclick="filter()" class="custom-control-input filter" id="luna12" name="month" th:value="DECEMBER">
							    <label class="custom-control-label" for="luna12">Decembrie</label>
							</div>	
							<div>
								<input class="btn btn-info" type="submit" name="submit" value="Aplica filtrul"/>
							</div>						
				      </div>
				    </div>
				  </div>
				  
				  <div class="card">
				    <div class="card-header" id="headingTwo">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          Dificultate
				        </button>
				      </h5>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				      <div class="card-body" style="text-align: left; margin-left: 15%">
							<div class="custom-control custom-checkbox">
							    <input type="checkbox" onclick="filter()" class="custom-control-input filter" id="easy" name="difficulty" th:value="Usor">
							    <label class="custom-control-label" for="easy">Usor</label>
							</div>
							<div class="custom-control custom-checkbox">
							    <input type="checkbox" onclick="filter()" class="custom-control-input filter" id="medium" name="difficulty" th:value="Mediu">
							    <label class="custom-control-label" for="medium">Mediu</label>
							</div>
							<div class="custom-control custom-checkbox">
							    <input type="checkbox" onclick="filter()" class="custom-control-input filter" id="difficult" name="difficulty" th:value="Dificil">
							    <label class="custom-control-label" for="difficult">Dificil</label>
							</div>
							<div>
								<input class="btn btn-info" type="submit" name="submit" value="Aplica filtrul"/>
							</div>
				      </div>
				    </div>
				  </div>
				  
				  <div class="card">
				    <div class="card-header" id="headingFour">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree">
				          Distanta
				        </button>
				      </h5>
				    </div>
				    <div id="collapseThree1" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
				      <div class="card-body">
				      	<div class="custom-control custom-checkbox">
						    <input type="checkbox" onclick="filter()" class="custom-control-input filter" id="distance" name="distance">
						    <label class="custom-control-label" for="distance">Cele mai apropiate</label>
						</div>
						<div>
							<input class="btn btn-info" type="submit" name="submit" value="Aplica filtrul"/>
						</div>
				      </div>
				    </div>
				  </div>
				  
				</div>
				</div>			
				<div class="col-md-6 col-sm-6 col-xs-2 text-center fla">

			 	<div class="text-center empty-list-message" th:if="${areTripsAvailable} == false">
					<h3> In acest moment nu exista ascensiuni disponibile! </h3>
				</div>
				<div class="text-center empty-list-message" th:if="${isFilterApplied} == false">
					<h3> Nu s-au gasit rezultate pentru filtrele aplicate! </h3>
				</div>
				<div class="card trip-card" th:each="tripDTO : *{tripsDTO}">
				  <div class="card-header bg-info">
				    <h5 class="trip-card-title" th:text="${tripDTO.peakDTO.peakName} + ' - ' + ${tripDTO.peakDTO.altitude} + 'm'"></h5>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title" th:text="'Data plecare: ' + ${tripDTO.startDate}"></h5>
				    <h5 class="card-title" th:text="'Data intoarcere: ' + ${tripDTO.endDate}"></h5>
				    <h5 class="card-title" th:text="'Locuri disponibile: ' + ${tripDTO.capacity}"></h5>
				    <h5 class="card-title" th:text="'Dificultate: ' + ${tripDTO.difficulty}"></h5>
				    <a th:href="@{/trip-details?trip=} + ${tripDTO.id}" class="btn btn-primary">Detalii</a>
				  </div>
				</div>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
		</div>
	</form>
</body>
<script>
  	var checks = document.querySelectorAll('input[type = "checkbox"]');
  	
	function filter(){
		createButton();
		testIfNoneSelected();
	}	
	
	function createButton(){					
		if(!document.getElementById("resetButton")){
			
			if(document.getElementById("resetAfterSubmit")){
				var element = document.getElementById("resetAfterSubmit");
			    element.parentNode.removeChild(element);
			}
			
			var text = document.getElementById("resetFilters");
			var resetButton = document.createElement("input");
			resetButton.setAttribute("id", "resetButton");
			resetButton.setAttribute("type", "reset");
			resetButton.setAttribute("value", "Elimina filtrele");
			
			text.appendChild(resetButton);
		
			resetButton.setAttribute("onclick", "removeButton()");
			resetButton.setAttribute("class", "btn btn-danger btn-block");
		}	
	}
	
	function testIfNoneSelected(){
		var counter = 0;
		
		for (var i = 0; i < checks.length; i++) {
			if (checks[i].checked == false){
				counter++;
			}	
		}
		
		if(counter == checks.length){
			removeButton();
		}
	}
	
	function removeButton(){	
		var element = document.getElementById("resetButton");
	    element.parentNode.removeChild(element);
	    
	    for (var i = 0; i < checks.length; i++) {
			if (checks[i].checked == true){
				checks[i].checked = false;
			}	
		}  
	}	
	
	function whenButtonRemoved(){
		javascript: window.open('all-trips', '_self');
	}
</script>
</html>