<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body class="body">
	<form action="#" name="articleForm" th:action="@{/article}" th:object="${articleDetailsViewModel}" method="POST">
		<div class="row" id="content">
			<div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
			<div class="col-md-8 col-sm-8 col-xs-2 fla">
				<div class="card">
					<div class="card-body">
						<div class="row" >
								<div class="card mt-2 ml-4 mr-4 mb-2" style="background-color: #d2dff4; width: 100%">
									<div class="card-body">
										<div class="text-center">
											<div th:if="${isUserAllowedToEdit} == true">
												<input type="text" th:value="*{articleDTO.title}" contenteditable="true" name="title" class="text-center" style="width: 100%"/>
											</div>
											<div th:if="${isUserAllowedToEdit} == false">
												<h2 th:text="*{articleDTO.title}"></h2>
											</div>
											
										</div> 
										<div id="descriptionCard" class="card mt-3 mb-3">				
											<div id="description" class="card-body">
												<div th:if="${isUserAllowedToEdit} == true">
													<textarea class="text-justify" contenteditable="true" th:text="*{articleDTO.description}" name="description" style="width: 100%"></textarea>
												</div>
												<div th:if="${isUserAllowedToEdit} == false">
													<h6 class="text-justify" th:text="*{articleDTO.description}"></h6>
												</div>
											</div>					    
										</div>
										<div th:each="section : *{articleDTO.sections}">
											<div id="sectionCard" class="card mt-3 mb-3">
												<div class="card-header bg-info color">
													<div th:if="${isUserAllowedToEdit} == true">
														<input type="text" class="text-left" contenteditable="true" th:value="${section.sectionTitle}" name="sectionTitles" style="width: 100%"/>
													</div>
													<div th:if="${isUserAllowedToEdit} == false">
														<h6 class="text-left" th:text="${section.sectionTitle}"></h6>
													</div>
												</div>					
												<div id="section" class="card-body">
													<div th:if="${isUserAllowedToEdit} == true">	
														<textarea class="text-justify" contenteditable="true" th:text="${section.sectionContent}" name="sectionContent" style="width: 100%"></textarea>	    															
													</div>	
													<div th:if="${isUserAllowedToEdit} == false">	
														<h6 class="text-justify" th:text="${section.sectionContent}"></h6>	    															
													</div>												
												</div>					    
											</div>
										</div>
										<div id="articleActions" class="card mt-3 mb-3">				
											<div  class="card-body">
												<table style="width: 100%">
													<tr>
														<td align=center>
															<h6 th:text="*{articleDTO.user.lastName} + ', ' + *{articleDTO.user.firstName}"></h6>
														</td>
														<td align=center>
															<h6 th:text="*{articleDTO.date}"></h6>
														</td>
														<td align=center>
															<h6 th:text="*{articleDTO.likes}"></h6>
														</td>
														<td align=center>
															<p id="addNewComment" class="btn btn-info">Adauga comentariu</p>
														</td>
														<td align=center th:if="${isUserAllowedToEdit} == true">
															<input id="saveAfterEdit" class="btn btn-success" type="submit" name="submit" value="Salveaza modificarile"/>
														</td>
													</tr>
												</table>	    	
											</div>					    
										</div>
									</div>
								</div>
						</div>
						<div id="comments" class="row">
							<div class="card mt-2 ml-4 mr-4 mb-2" style="width: 100%">
								<div class="card-body">
										<div th:each="comment : *{articleDTO.commentsDTO}">
												<div class="row">
												    <div class="col-md-2 col-sm-2 col-xs-2">
									        	        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
									        	        <p class="text-secondary text-center" th:text="${comment.user.lastName} + ' ' + ${comment.user.firstName}"></p>
									        	    </div>
												
												    <div class="col-md-10 col-sm-10 col-xs-2">
												        <div class="card">
												            <div class="card-header" style="background-color: #BCBDBF">
												            	<div th:if="${comment.daysSincePosted} == 0">
												            		<h6 style="float: left">adaugat astazi</h6>
												            	</div>
												            	<div th:if="${comment.daysSincePosted} == 1">
												            		<h6 style="float: left">adaugat ieri</h6>
												            	</div>
												            	<div th:if="${comment.daysSincePosted} > 1">
												            		<h6 th:text="'adaugat acum ' + ${comment.daysSincePosted} + ' zile'" style="float: left"></h6>
												            	</div>
												                <div class="dropdown" style="float: right">
																	  <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
																	  <div class="dropdown-menu" aria-labelledby="actions">
																	  	<div th:if="${comment.user.id} == ${loggedUserId}">
																	  		 <input id="removeComment" class="dropdown-item" th:name="${comment.commentId}" type="submit" value="Sterge"/>
																	  		 <p id="editComment" class="dropdown-item"> Editeaza </p>
																	  	</div>
																	  	<div th:if="${comment.user.id} != ${loggedUserId}">
																	  		 <input class="dropdown-item disabled" type="submit" th:name="${comment.commentId}" value="Sterge"/>
																	  		 <p class="dropdown-item disabled"> Editeaza </p>
																	  	</div>
																	    
																	  </div>
																</div>
												            </div>
												            <div class="card-body" id="postedCommentContent">
												                <h6 class="text-justify ml-1" th:text="${comment.content}"></h6>
												            </div>
												        </div>
												    </div>
												</div>
										</div>
								</div>
									<div class="card" id="addCommentCard">
											<div class="card-body">
												<div class="row">
													<div class="col-md-2 col-sm-2 col-xs-2">
									        	        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
									        	        <h6 class="text-secondary text-center" th:text="${userName}"></h6>
									        	    </div>
													<div class="col-md-10 col-sm-10 col-xs-2 fla">
						  								<textarea id="commentContent" class="text-justify" name="commentContent" style="width: 100%; height: 100px; resize: none;" placeholder="Adauga un comentariu..."></textarea>
						  								<input id="addComment" name="submit" class="btn btn-success disabled" style="float: right" type="submit" value="Adauga comentariu"/>	 
													</div>
												</div>
											</div>
										</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
		</div>
	</form>
<script>
	$(document).ready(function() {
	    $('#commentContent').keyup(function() {
	    	if($('#commentContent').val().length >= 2){
	        	$('#addComment').removeClass('btn btn-success disabled');
	        	$('#addComment').addClass('btn btn-success');
	        }
	    	else{
	    		$('#addComment').removeClass('btn btn-success');
	        	$('#addComment').addClass('btn btn-success disabled');
	    	}
	    });
	});
	
	var addComment = document.getElementById("addNewComment");
	var card = document.getElementById("addCommentCard");
	
	addComment.onclick = function(){		
		card.scrollIntoView();
	}
	
	
	var editComment = document.getElementById("editComment");
	var postedCommentContent = document.getElementById("postedCommentContent");
	
	editComment.onclick = function(){		
		postedCommentContent.setAttribute("contenteditable", "true");
		
		var saveButton = document.createElement("p");
		saveButton.innerHTML = "Salveaza modificarile";
		saveButton.setAttribute("class", "btn btn-success");
		
		var resetButton = document.createElement("input");
		resetButton.setAttribute("class", "btn btn-danger");
		resetButton.setAttribute("type", "submit");
		resetButton.setAttribute("name", "submit");
		resetButton.setAttribute("value", "Renunta");
		
		
		postedCommentContent.appendChild(saveButton);
		postedCommentContent.appendChild(resetButton);
		postedCommentContent.focus();
	}
</script>
</body>
</html>