<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body class="body">
	<div class="row" id="content">
		<div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
		<div class="col-md-8 col-sm-8 col-xs-2 fla">
			<div class="card w-100 mt-3 mb-3">
				<div class="card-body">
					<h5 class="text-left list-group-item list-group-item-action list-group-item-info text-justify"> 
						 Comunitatea "Hai sus" este cea mai mare comunitate de acest fel din Rom&#226;nia. Ascensiunile sunt organizate
						 de c&#259;tre ghizi montani experimenta&#355;i, capabili s&#259; asigure buna desf&#259;&#351;urare a acestora 
						 &#351;i s&#259; &#238;&#351;i asume riscuri c&#226;t mai mici.
					</h5>
					<hr>
					<h5 class="text-left list-group-item list-group-item-action list-group-item-info text-center"> 
						Comunitatea Hai sus este cladit&#259; pe respectul specific celor care iubesc muntele. 
					</h5>
					<hr>
					<div class="text-left list-group-item list-group-item-action list-group-item-info text-center">
						<h5> &#206;n cadrul acestei comunit&#259;&#355;i sunt posibile urm&#259;toarele ac&#355;iuni: </h5>
						<h5> 1. Participarea la ascensiuni </h5>
						<h5> 2. Sugerearea anumitor ascensiuni </h5>
						<h5> 3. Participarea la concursuri </h5>
						<h5> 4. Scrierea de articole </h5>
						<h5> 5. Ob&#355;inerea de medalii </h5>
						<h5> 5. Promovarea la un rol superior </h5>
					</div>
					<hr>
					<h5 class="text-left list-group-item list-group-item-action list-group-item-warning text-center">
						 Dac&#259; vrei s&#259; faci &#351;i tu parte din aceast&#259; comunitate o po&#355;i face chiar acum! 
					</h5>
					<hr>
					<a th:href="@{/register}" class="btn btn-success mt-2 ml-50"> Al&#259;tur&#259;-te comunit&#259;&#355;ii </a>
					
				</div>
			</div>
		</div>	 	
		<div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
	</div>
</body>
</html>