<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body class="body">
	<form action="#" th:action="@{/my-points}" method="post">
		<div class="row" id="content">
			 <div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
			 <div class="col-md-4 col-sm-4 col-xs-2 fla">
			 	<div class="card trip-card" style="margin-top: 3%">
				  <div class="card-header bg-info">
				    <h5 class="trip-card-title text-center color"> PUNCTELE MELE </h5>
				  </div>
				  <div class="card-body">
				    	<div class="list-group">													  
							  <p class="list-group-item list-group-item-action list-group-item-light">Este nevoie de 25 de puncte HaiSus pentru inscriere.</p>
							  <p class="list-group-item list-group-item-action list-group-item-light">Un utilizator se poate inscrie o singura data in decursul unei luni.</p>
							  <input type="submit" class="btn btn-success" name="registerToTombola" value="Inscrie-te"/>  
						</div>
				  </div>
			</div>
			 </div>		 	
			 <div class="col-md-4 col-sm-4 col-xs-2 fla">
			 	<div class="card trip-card" style="margin-top: 3%">
				  <div class="card-header bg-info">
				    <h5 class="trip-card-title text-center color"> SITUATIE PUNCTE </h5>
				  </div>
				  <div class="card-body">
				    	<div class="list-group">													  
							  <p class="list-group-item list-group-item-action list-group-item-light">Este nevoie de 25 de puncte HaiSus pentru inscriere.</p>
							  <p class="list-group-item list-group-item-action list-group-item-light">Un utilizator se poate inscrie o singura data in decursul unei luni.</p>
							  <input type="submit" class="btn btn-success" name="registerToTombola" value="Inscrie-te"/>  
						</div>
				  </div>
			</div>
			 </div>
			 <div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
		</div>
		<div class="row" id="content">
			 <div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
			 <div class="col-md-8 col-sm-8 col-xs-2 fla">
			 	<div class="accordion" id="accordionExample" style="margin-top: 3%; margin-bottom: 2%">						  
				  <div class="card" style="margin-bottom: 2%">
				    <div class="card-header" id="headingFour" style="background: linear-gradient(to bottom, #ccd6dd 0%, #55acee 100%);  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
				          	Cum pot obtine punctele?
				        </button>
				      </h5>
				    </div>
				    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
				      <div class="card-body" style="text-align: left; margin-left: 3%">
							
				      </div>
				    </div>
				  </div>
				  
				  <div class="accordion" id="accordionExample" style="margin-top: 3%; margin-bottom: 2%">						  
				  <div class="card" style="margin-bottom: 2%">
				    <div class="card-header" id="headingFour" style="background: linear-gradient(to bottom, #ccd6dd 0%, #55acee 100%);  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
				          	Cum pot folisi punctele?
				        </button>
				      </h5>
				    </div>
				    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
				      <div class="card-body" style="text-align: left; margin-left: 3%">
							
				      </div>
				    </div>
				  </div>
				  
				</div>
			 </div>	
			 </div>	 	
			 <div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
		</div>
	</form>
</body>
</html>