<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body class="body">
	<form action="#" th:action="@{/personal-data}" th:object="${personalDataViewModel}" method="POST">
		<div class="row" id="content">
			<div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
			<div class="col-md-8 col-sm-8 col-xs-2 fla">
				<div class="row">
					<div class="col-md-7 col-sm-7 col-xs-2 fla">
						<div class="card mt-2 mr-2 mb-3 w-100">
							<div class="card-header bg-info">
								<h6 class="text-center color"> Date personale </h6>
							</div>
							<div class="card-body">
								<div th:if="*{userDTO.experience} == null">
									<p class="text-center list-group-item list-group-item-action list-group-item-warning"> Campul Experienta nu este completat! </p> 
								</div>
								<table class="mt-2 mr-2 ml-2 mb-2 w-100">
									<tr>
										<td>
											<label for="name"> Nume </label>
										</td>
										<td class="w-100">
											<input type="text" id="name" class="form-control ml-1" placeholder="Nume" th:value="*{userDTO.lastName}" readonly="readonly">
										</td>
										<td class="w-100" align="center">
											<p class="btn btn-info" onclick="createSaveButton('saveName', 'name', this)"> Editeaza </p>
											<div id="saveName"></div>
										</td>
									</tr>
	 								<tr>
	 									<td>
											<label for="prename"> Prenume </label>
										</td>
										<td class="w-100">
											<input type="text" id="prename" class="form-control ml-1" placeholder="Prenume" th:value="*{userDTO.firstName}" readonly="readonly">
										</td>
										<td class="w-100" align="center">
											<p class="btn btn-info" onclick="createSaveButton('savePrename', 'prename', this)"> Editeaza </p>
											<div id="savePrename"></div>
										</td>
									</tr>
									<tr>
										<td>
											<label for="email"> Email </label>
										</td>
										<td class="w-100">
											<input type="text" id="email" class="form-control ml-1" placeholder="Email" th:value="*{userDTO.email}" readonly="readonly">
										</td>
										<td class="w-100" align="center">
											<p class="btn btn-info" onclick="createSaveButton('saveEmail', 'email', this)"> Editeaza </p>
											<div id="saveEmail"></div>
										</td>
									</tr>
									<tr>
										<td>
											<label for="date"> Data nasterii </label>
										</td>
										<td class="w-100">
											<input type="date" id="birthDate" class="form-control ml-1" placeholder="Data nasterii" th:value="*{userDTO.birthDate}" readonly="readonly">
										</td>
										<td class="w-100" align="center">
											<p class="btn btn-info" onclick="createSaveButton('saveBirthDate', 'birthDate', this)"> Editeaza </p>
											<div id="saveBirthDate"></div>
										</td>
									</tr>
									<tr>
										<td>
											<label for="city"> Judetul </label>
										</td>
										<td class="w-100">
											<input type="text" id="city" class="form-control ml-1" placeholder="Judet" th:value="*{userDTO.cityDTO.name}" readonly="readonly">
										</td>
										<td class="w-100" align="center">
											<p class="btn btn-info" onclick="createSaveButton('saveCity', 'city', this)"> Editeaza </p>
											<div id="saveCity"></div>
										</td>
									</tr>
									<tr>
										<td>
											<label for="experience"> Experienta </label>
										</td>
										<td class="w-100">
											<input type="text" id="experience" class="form-control ml-1" readonly="readonly">
										</td>
										<td class="w-100" align="center">
											<p class="btn btn-info" onclick="createSaveButton('saveExperience', 'experience', this)"> Editeaza </p>
											<div id="saveExperience"></div>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-sm-5 col-xs-2 fla">
						<div class="card mt-2 mr-2 mb-3 w-100">
							<div class="card-header bg-info">
								<h6 class="text-center color"> Parola </h6>
							</div>
							<div class="card-body">
								<table class="mt-2 mr-2 mb-2 w-100">
									<tr>
										<td class="w-100">
											<input type="password" id="currentPassword" class="form-control mb-2" placeholder="Parola curenta">
										</td>
									</tr>
									<tr>
										<td class="w-100">
											<input type="password" id="newPassword" class="form-control mb-2" placeholder="Parola noua">
										</td>
									</tr>
									<tr>
										<td class="w-100" align=center>
											<input type="submit" class="btn btn-info btn-block" value="Schimba parola">
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="card mr-2 mb-2 w-100">
							<div class="card-header bg-info">
								<h6 class="text-center color"> Alte informatii </h6>
							</div>
							<div class="card-body">
								<table class="mt-2 mr-2 ml-2 mb-2">
									<tr>
										<td>
											<label for="title"> Statut </label>
										</td>
										<td class="w-100">
											<div th:if="*{userDTO.roleDTO.roleName} == 'ROLE_USER'">
												<input type="text" id="title" class="form-control text-center ml-3" placeholder="Titlu" value="Utilizator" readonly="readonly">										
											</div>
											<div th:if="*{userDTO.roleDTO.roleName} == 'ROLE_STAFF'">
												<input type="text" id="title" class="form-control text-center ml-3" placeholder="Titlu" value="Staff" readonly="readonly">										
											</div>
											<div th:if="*{userDTO.roleDTO.roleName} == 'ROLE_GUIDE'">
												<input type="text" id="title" class="form-control text-center ml-3" placeholder="Titlu" value="Ghid" readonly="readonly">										
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<label for="joinDate"> Data inscrierii </label>
										</td>
										<td class="w-100">
											<input type="text" id="joinDate" class="form-control text-center ml-3" placeholder="Data inscrierii" th:value="*{userDTO.register.registerDate}" readonly="readonly">
										</td>
									</tr>
									<tr>
										<td>
											<label for="promoCode"> Cod </label>
										</td>
										<td class="w-100">
											<input type="text" id="promoCode" class="form-control text-center ml-3" th:value="*{userDTO.promoCodeDTO.value}" readonly="readonly">
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
		</div>
	</form>
<script>
	function createSaveButton(div, inputId, currentElement){
		var saveButton = document.createElement("input");
		saveButton.setAttribute("class", "btn btn-success");
		saveButton.setAttribute("onclick", "removeAction(this)");
		saveButton.setAttribute("type", "submit");
		saveButton.setAttribute("value", "Salveaza");
		
		var parentDiv = document.getElementById(div);
		parentDiv.appendChild(saveButton);
		
		removeReadOnly(inputId);
		removeButton(currentElement);
	}
	
	function removeButton(e){
		e.parentNode.removeChild(e);	
	}
	
	function removeReadOnly(inputId){
		var input = document.getElementById(inputId);
		input.removeAttribute("readonly");
	}
</script>
</body>
</html>