<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body class="body">
	<form action="#" th:action="@{/my-trips}" th:object="${tripViewModel}" method="post">
		<div class="row" id="content">
			<div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
			<div class="col-md-8 col-sm-8 col-xs-2 fla">
				<div th:if="${guideHasUnfinishedTrips} == true">
					<p class="text-center list-group-item list-group-item-action list-group-item-danger mt-3 mb-3">Ave&#355;i ascensiuni terminate care nu sunt setate ca finalizate! </p>
				</div>
				<hr>
			 		<div>
				    	<h4 class="text-center list-group-item list-group-item-action list-group-item-info mt-2 mb-2"> Ascensiuni sugerate </h4>
					</div>
			 	<hr>
			 	<div class="card mb-2 mt-1" th:each="tripDTO : *{tripsDTO}">
			 	<div class="card-header bg-info color text-center">
						<h5 th:text="${tripDTO.peakDTO.peakName} + ' - ' + ${tripDTO.peakDTO.altitude} + 'm'"></h5>
				</div>
				  <div class="card-body mb-2" >
				  	<table class="table table-dark table-sm w-100">
						  		<tr>
						  			<td class="text-center">
						  				<h6> Data plec&#259;rii </h6>
						  			</td>
						  			<td class="text-center">
						  				<h6 th:text="${tripDTO.startDate}"></h6>
						  			</td>
						  		</tr>
						  		<tr>
						  			<td class="text-center">
						  				<h6> Data &#238;ntoarcerii </h6>
						  			</td>
						  			<td class="text-center">
						  				<h6 th:text="${tripDTO.endDate}"></h6>
						  			</td>
						  		</tr>
						  		<tr>
						  			<td class="text-center">
						  				<h6> Locuri disponibile </h6>
						  			</td>
						  			<td class="text-center">
						  				<h6 th:text="${tripDTO.capacity}"></h6>
						  			</td>
						  		</tr>
						  		<tr>
						  			<td class="text-center">
						  				<h6> Dificultate </h6>
						  			</td>
						  			<td class="text-center">
						  				<h6 th:text="${tripDTO.routeDTO.difficulty}"></h6>
						  			</td>
						  		</tr>
						  		<tr>
						  			<td class="text-center">
						  				<h6> Ac&#355;iuni </h6>
						  			</td>
						  			<td class="text-center">
						  				<div class="btn-group" role="group">
							  				<a th:href="@{/suggested-trip-details?trip=} + ${tripDTO.id}" class="btn btn-info">Detalii</a> &nbsp;&nbsp;&nbsp;
									    </div>
						  			</td>
						  		</tr>
						  	</table>
				  	</div>
				  </div>
				</div>
			<div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
		</div>
	</form>
</body>
</html>