<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
* {
  box-sizing: border-box;
}

#myInput, #myInputStaff {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable, #myTableStaff {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td, #myInputStaff th, #myInputStaff td {
  text-align: left;
  padding: 12px;
}

#myTable tr, #myInputStaff tr {
  border-bottom: 1px solid #ddd;
}
</style>
<body class="body">
	<form action="#" th:action="@{/users-reports}" th:object="${usersReportsViewModel}" method="POST">
		 <div class="row">
		 	<div class="col-md-2 col-sm-2 col-xs-2 fla"></div>
		 	<div class="col-md-8 col-sm-8 col-xs-2 fla">
		 	
		 		<div id="users" class="card mt-2 mb-2">
		 			<div class="card-header bg-info text-center color">
		 				<h5> Utilizatori </h5>
		 			</div>
		 			<div class="card-body pre-scrollable">
		 				<input type="text" id="myInput" onkeyup="myFunction('myInput', 'myTable')" placeholder="Caut&#259; dup&#259; nume" title="Type in a name">
		 				<table id="myTable" class="table table-dark table-bordered table-sm">
		 					<tr>
		 						<th class="text-center"> NUME </th>
		 						<th class="text-center"> EMAIL </th>
		 						<th class="text-center"> JUDE&#354; </th>
		 						<th class="text-center"> ASCENSIUNI FINALIZATE </th>
		 						<th class="text-center"> ABSEN&#354;E </th>
		 						<th class="text-center"> AC&#354;IUNI </th>	 						
		 					</tr>
		 					<tr th:each="user : *{users}">
		 						<td class="text-center"> <h6 th:text="${user.userDTO.lastName} + ' ' + ${user.userDTO.firstName}"></h6> </td>
		 						<td class="text-center"> <h6 th:text="${user.userDTO.email}"></h6> </td>
		 						<td class="text-center"> <h6 th:text="${user.userDTO.cityDTO.name}"></h6> </td>
		 						<td class="text-center"> <h6 th:text="${user.finishedTrips}"></h6> </td>
		 						<td class="text-center"> <h6 th:text="${user.absences}"></h6> </td>
		 						<td class="text-center">
		 							 <input th:if="${user.userDTO.blocked} == false" type="submit" th:name="${user.userDTO.id}" class="btn btn-danger" value="Blocheaza"/>
		 							 <input type="submit" th:name="${user.userDTO.id}" class="btn btn-info" value="Detalii"/>
		 						 </td>
		 					</tr>
		 				</table>	
		 			</div>
		 		</div>
		 		
		 		<div id="staff" class="card mb-2">
		 			<div class="card-header bg-info text-center color">
		 				<h5> Membrii Staff </h5>
		 			</div>
		 			<div class="card-body pre-scrollable">
		 				<input type="text" id="myInputStaff" onkeyup="myFunction('myInputStaff', 'myTableStaff')" placeholder="Caut&#259; dup&#259; nume" title="Type in a name">
		 				<table id="myTableStaff" class="table table-dark table-bordered table-sm">
		 					<tr>
		 						<th class="text-center"> NUME </th>
		 						<th class="text-center"> EMAIL </th>
		 						<th class="text-center"> JUDE&#354; </th>
		 						<th class="text-center"> ASCENSIUNI FINALIZATE </th>
		 						<th class="text-center"> ABSEN&#354;E </th>
		 						<th class="text-center"> ARTICOLE POSTATE </th>
		 						<th class="text-center"> AC&#354;IUNI </th>	 						
		 					</tr>
		 					<tr th:each="staff : *{staffMembers}">
		 						<td class="text-center"> <h6 th:text="${staff.userDTO.lastName} + ' ' + ${staff.userDTO.firstName}"></h6> </td>
		 						<td class="text-center"> <h6 th:text="${staff.userDTO.email}"></h6> </td>
		 						<td class="text-center"> <h6 th:text="${staff.userDTO.cityDTO.name}"></h6> </td>
		 						<td class="text-center"> <h6 th:text="${staff.finishedTrips}"></h6> </td>
		 						<td class="text-center"> <h6 th:text="${staff.absences}"></h6> </td>
		 						<td class="text-center"> <h6 th:text="${staff.articlesPosted}"></h6> </td>
		 						<td class="text-center">
		 							 <input th:if="${staff.userDTO.blocked} == false" type="submit" th:name="${staff.userDTO.id}" class="btn btn-danger" value="Blocheaza"/>
		 							 <input type="submit" th:name="${staff.userDTO.id}" class="btn btn-info" value="Detalii"/>
		 						 </td>
		 					</tr>
		 				</table>
		 			</div>
		 		</div>
		 		
		 	</div>	
		 	<div class="col-md-2 col-sm-2 col-xs-4 fla"></div>	 	
		</div>
	</form>
</body>
<script>
function myFunction(input, table) {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById(input);
  filter = input.value.toUpperCase();
  table = document.getElementById(table);
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
</html>